@import url('https://fonts.google.com/share?selection.family=Oswald:wght@200..700|Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

:root {
  --base-clr: #f8f9ff; /*fundo principal*/
  --line-clr: #42434a; /*bordas e divisórias*/
  --sidebar-clr: #0B0742;
  --hover-clr: #00EED0; 
  --text-clr: #ffffff; /*texto e ícones*/
  --accent-clr: #ae8cc0; /*destaque*/
  --secondary-text-clr: #b0b3c1; /*texto secundário*/
}

*{
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}