annotated-doc==0.0.4
anyio==4.2.0
beautifulsoup4==4.12.3
certifi
charset-normalizer
click
contourpy
cycler
deep-translator
filelock
fonttools
fsspec
h11
httpcore
httpx
huggingface_hub
idna
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx

numpy==1.26.4
scipy==1.11.4

opencv-python
packaging
pillow
polars
psutil
Pygments
pyparsing
python-dateutil
PyYAML
regex
requests
rich
safetensors
shellingham
six
soupsieve
sympy
tokenizers
tqdm
transformers

torch==2.2.2
torchvision==0.17.2

typer
typing_extensions
ultralytics
urllib3