{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planify — Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}" />
  </head>
  <body class="auth-page">
    <div class="page-shell">

      <header>
        <a class="button button--secondary button--small back-button" href="/">Voltar</a>
        <h1>Planify</h1>
      </header>

      {% if messages %}
        {% for message in messages %}
          <div class="toast {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <script>
        setTimeout(() => {
          document.querySelectorAll('.toast').forEach(el => {
            el.style.opacity = "0";
            setTimeout(() => el.remove(), 500);
          });
        }, 3000);
      </script>

    

      <main class="forms-grid">
        <section class="panel panel--secondary">
          <h2>Cadastrar novo usuário</h2>
          <form method="POST" action="{% url 'accounts:register' %}">
            {% csrf_token %}
            <label for="register-name">Nome</label>
            <input type="text" id="register-name" name="username" placeholder="Seu nome" required />
            <label for="register-password">Senha</label>
            <input type="password" id="register-password" name="password" placeholder="Senha" required />
            <label for="register-password-confirm">Confirmar senha</label>
            <input type="password" id="register-password-confirm" name="password_confirm" placeholder="Confirme sua senha" required />
            <button type="submit">Cadastrar</button>
          </form>
        </section>

      </main>
    </div>
  </body>
</html>